body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    border: 1px solid gray;
    background-color: rgb(248, 248, 248);
    width: 240px;
    text-align: center;
    padding: 10px;
}
.image{
    width: 100%;
}
.properties{
    text-align: center;
}
.manufacturer{
    font-weight: bold;
}
.btns{
    text-align: center;
}
.btn{
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}
.edit{
    border: 3px solid rgb(65, 185, 255);
    color:rgb(65, 185, 255);
}
.delete{
    border: 3px solid rgb(255, 66, 66);
    color:rgb(255, 66, 66);
}
.edit:hover{
    background-color: rgb(139, 213, 255);
    color: #fff;
}
.delete:hover{
    background-color: rgb(255, 108, 108);
    color:#fff;
}