*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 900px;
    background-color: #e9e9e9;
    box-shadow: 0 0 30px black;
}
.form-body{
    border-bottom: 1px solid #929292;
    padding: 30px;
}
.form-columns{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.form-section{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form-section h3{
    margin-bottom: 30px;
}
.form-field{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    height: 30px;
}
.form-field img{
    width: 30px;
}
.form-field input, select{
    width: 100%;
    background-color: #e9e9e9;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #979797;
}
.field-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    padding-left: 15px;
}
.action{
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
}
.action input{
    padding: 5px 30px;
    color: #fff;
    background-color: rgb(95, 180, 155);
    border: 1px solid rgb(80, 141, 123);
    border-radius: 5px;
}

@media(max-width: 900px){
    .container{
        width: 100%;
    }
    .form-columns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-section{
        width: 100%;
    }
}
@media(max-width: 600px){
    .field-row{
        display: flex;
        flex-direction: column;
    }
}