body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    display: flex;
    position: relative;
    width: 1200px;
    justify-content: space-between;
}
.plan{
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    width: 23%;
    font-weight: bold;
    transition: transform .3s;
}
.plan .sub{
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 4px solid;
    margin-bottom: 10px;
}
.plan-1 .sub{
    border-bottom-color: rgb(255, 76, 76);
}
.plan-2 .sub{
    border-bottom-color: rgb(255, 198, 76);
}
.plan-3 .sub{
    border-bottom-color: rgb(76, 139, 255);
}
.plan-4 .sub{
    border-bottom-color: rgb(98, 226, 66);
}
.plan .termin{
    color:lightgray;
    margin-top: 0;
}
.plan button{
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: #fff;
}
.plan-1 button{
    background-color: rgb(255, 76, 76);
}
.plan-2 button{
    background-color: rgb(255, 198, 76);
}
.plan-3 button{
    background-color: rgb(76, 139, 255);
}
.plan-4 button{
    background-color: rgb(98, 226, 66);
}
.plan h1{
    margin: 0;
}
.plan:hover{
    transform: scale(1.15);
}