*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    position: relative;
    width: 750px;
    height: 450px;
    background-color: #f1f1f1;
    overflow: hidden;
}
.header-text{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: rgb(211, 131, 12);
    color: #fff;
    font-weight: bold;
    padding: 15px 50px;
    padding-right: 300px;
    z-index: 1;
}
.credit-form{
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100% - 25px);
    height: 100%;
    background-color: lightblue;
}
.container img{
    width: 50%;
    position: absolute;
    bottom: -90px;
    right: -90px;
    z-index: 1;
}
.credit-form form{
    margin-top: 15%;
    margin-left: 5%;
    width: 50%;
}
.credit-form label{
    display: block;
    padding: 10px;
    padding-left: 0;
    color: rgb(101, 121, 128);
}
.credit-form input{
    padding: 10px;
    width: 100%;
    background-color: rgb(187, 223, 236);
    border: none;
    border-bottom: 2px solid rgb(101, 121, 128);
}
.details{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.expiry-inputs{
    display: flex;
    gap: 10px;  
}