*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}
.gallery {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery .item {
    width: 30%;
    float: left;
    margin: 1%;
}

.gallery img {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.3s ease;
}

.gallery .item:hover img {
    filter: grayscale(0%);
    transform: translateY(-5px);
}
