*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(6, min-content());
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}
.user-profile {
    height: 100%;
    display: flex;
    align-items: center;
}
.user-profile.user1{
    grid-column: 1;
}
.user-profile.user2{
    grid-column: 3;
}
.details{
    padding: 10px;
    text-align: center;
}
.details .time{
    font-size: 14px;
    color: rgb(172, 172, 172);
}
.user-message{
    grid-column: 2;
    padding: 20px;
    border-radius: 15px;
}
.user-message.user1{
    background-color: pink;
    border-bottom-left-radius: 0;
}
.user-message.user2{
    background-color: lightblue;
    border-bottom-right-radius: 0;
}

.container > *:nth-child(1) {
    grid-row: 1;
}

.container > *:nth-child(3) {
    grid-row: 2;
}

.container > *:nth-child(5) {
    grid-row: 3;
}

.container > *:nth-child(7) {
    grid-row: 4;
}

.container > *:nth-child(9) {
    grid-row: 5;
}

.container > *:nth-child(11) {
    grid-row: 6;
}
