*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    padding: 10px;
}
.container{
    margin-top: 15px;
    display: grid;
    grid-template: repeat(2, 275px) / repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.card{
    position: relative;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.tennis{
    grid-row: 1;
    grid-column: 1;
}
.yoga{
    grid-row: 2;
    grid-column: 1;
}
.hiking{
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
}
.running{
    grid-column: 4;
    grid-row: 1;
}
.cycling{
    grid-column: 5;
    grid-row: 1;
}
.swimming{
    grid-column: 4 / span 2;
    grid-row: 2;
}

@media(max-width: 1024px){
    .container{
        grid-template: repeat(3, 200px) / repeat(5, 1fr);
    }
    .tennis{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .yoga{
        grid-row: 3;
        grid-column: 1;
    }
    .hiking{
        grid-row: 1 / span 2;
        grid-column: 3;
    }
    .running{
        grid-column: 4 / span 2;
        grid-row: 1;
    }
    .cycling{
        grid-column: 4 / span 2;
        grid-row: 2 / span 2;
    }
    .swimming{
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}

@media(max-width: 768px){
    .container{
        grid-template: repeat(4, 175px) / repeat(2, 1fr);
    }
    .tennis{
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .yoga{
        grid-row: 4;
        grid-column: 1;
    }
    .hiking{
        grid-row: 1;
        grid-column: 2;
    }
    .running{
        grid-column: 1;
        grid-row: 3;
    }
    .cycling{
        grid-column: 2;
        grid-row: 2 / span 2;
    }
    .swimming{
        grid-column: 2;
        grid-row: 4;
    }
}

@media(max-width: 610px){
    .container{
        grid-template: repeat(6, 300px) / 1fr;
    }
    .tennis{
        grid-column: 1;
        grid-row: 1
    }
    .yoga{
        grid-row: 5;
        grid-column: 1;
    }
    .hiking{
        grid-row: 2;
        grid-column: 1;
    }
    .running{
        grid-column: 1;
        grid-row: 3;
    }
    .cycling{
        grid-column: 1;
        grid-row: 4;
    }
    .swimming{
        grid-column: 1;
        grid-row: 6;
    }
}