* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
    width: 100%;
    max-width: 960px;
    background-color: rgb(17, 90, 60);
    padding: 30px;
}
.nav{
    display: flex;
    width: 180px;
    gap: 15px;
}
.nav a{
    padding-right: 15px;
    border-right: 1px solid rgba(139, 139, 139, 0.7);
    text-decoration: none;
    color: rgba(139, 139, 139, 0.7);
}
.header {
    max-width: 45%; 
    color: #fff;
}
.overlay {
    display: flex;
    width: 100%;
    justify-content: flex-start; 
    align-items: center;
    gap: 45px; 
}
.overlay img {
    height: 100px;
    width: 100px;
}
.details {
    color: white;
    width: auto;
    flex-grow: 1; 
    display: flex;
    flex-wrap: wrap;
}
.details > div {
    flex: 1 1 25%; 
    min-width: 100px; 
}
.details p {
    margin: 0;
}
.details .hidden {
    color: rgb(34, 136, 93);
}

@media (max-width: 960px) {
    .container {
        max-width: 100%; 
    }
    .header {
        max-width: 100%; 
    }
    .details {
        justify-content: flex-start;
    }
    .details > div {
        flex: 1 1 50%; 
        min-width: 150px;
    }
    .updated, .author {
        margin-bottom: 10px; 
    }
}

@media (max-width: 600px) {
    .details {
        width: 100%;
    }
    .details > div {
        flex: 1 1 100%; 
        margin-bottom: 10px; 
    }
    .updated, .author, .comments, .published {
        margin-bottom: 5px; 
    }
    .header {
        font-size: 1.5em;
    }
}