*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}
.count{
    flex-basis: 15%;
    text-align: center;
    background: #cfcfcf;
    font-size: 30px;
}
.count *{
    padding: 10px 0;
}
.time{
    padding: 30px 0;
    color: #fff;
    background-color: rgb(68, 154, 212);
    font-size: 34px;
}