.clock{
    width: 600px;
    height: 600px;
    border: 4px solid black;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.hand{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(0deg);
}
.center{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.minute{
    width: 5px;
    height: 200px;
    background-color: black;
    animation: rotate 3600s linear infinite;
}
.hour{
    width: 10px;
    height: 200px;
    background-color: black;
    animation: rotate 43200s linear infinite;
}

@keyframes rotate {
    from {transform: translateX(-50%) rotate(0deg);}
    to {transform: translateX(-50%) rotate(360deg);}
}